{{> header subject="Reset your password - Action required" is_advisor=true}}

<h1>Password reset requested</h1>

<p class="lead-text">We received a request to reset your password. Use the button below to set a new password.</p>

<div class="button-center">
  <a href="{{reset_url}}" class="button">Reset Password</a>
</div>

<div class="info-box info-box-warning">
  <p><strong>Expires in 60 minutes.</strong> If you didn’t request this, please ignore or secure your account.</p>
</div>

<p>If the button doesn’t work, copy and paste this link: <a href="{{reset_url}}">{{reset_url}}</a></p>

{{> footer user_email=user_email is_critical=true current_year=current_year portal_url=portal_url support_url=support_url}}
